.home{
	display: block;
    position: relative;
	background-image: url("./.img/Maps/erdain-wallpaper.jpg");
	-webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.home nav a{
	color: white;
}


body{
    color: white;
    background-color: black;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
	background-image: url("./.img/dirt-texture.jpg");
}

header{
	
	width: 100%;
	background-color: black;
	padding-top: 40px;
}

main{
	padding: 20px;
	margin: 0 auto;
}

.col{
	display: flex;
}

.col section{
	width: 45vw;
}

h1{
    font-weight: bold;
	font-size: 48px;
	padding-bottom: 30px;
	text-shadow: #FC0 1px 0 10px;
}

h2{
	padding: 20px;
	text-shadow: 5px 5px #0000007e;
}

p{
	padding-left: 20px;
}

hr{
	margin-bottom: 30px;
}

section a{
	color: rgb(84, 169, 255);
	text-decoration: underline;
}

section{
	text-align: justify;
	margin: 0 auto;
}

.titleText{
	font-size: 28px;
	font-weight: bold;
}

.centerText{
    text-align: center;
    margin: 0 auto;
}

.box {
	position: relative;
	max-width: 940px;
	margin: 0 auto;
}


.banner{
    padding-top: 30vh;
    padding-bottom: 10vh;
}

nav {
	padding: 50px;
	line-height: 2;
}

header nav{
	padding: 20px;
}

nav li {
	display: inline;
	margin: 15px;
}


a, a:hover{
	color: white;
	text-decoration: none;
}

nav a {
	text-transform: uppercase;
	font-weight: bold;
	font-size: 18px;
	text-decoration: none;
    color: #865f35;
}

nav a:hover {
	color: #b87d31;
	text-decoration: underline;
}


.sublinks{
	padding-top: 30px;
	line-height: 4;
	list-style-type: none;
	text-transform: uppercase;
	font-weight: bold;
	font-size: 18px;
	text-decoration: none;
    color: #693e10;
	padding-right: 1.8vw;
}

.sublinks a:hover{
	color: #b87d31;
	text-decoration: underline;
}

table{
	font-size: 16px;
	line-height: 2;
}

@media screen and (max-width: 820px) {
	.col{
		display: block;
	}

	.col section{
		width: 80vw;
	}
	
}

@media screen and (max-width: 330px) {
	body{
		width: 500px;
	}
	.col{
		display: block;
	}

	.col section{
		width: 400px;
	}
}